# SQL Alchemy
_SQL through python_

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Setting-Up" data-toc-modified-id="Setting-Up-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Setting Up</a></span><ul class="toc-item"><li><span><a href="#MySQL-connection-URL" data-toc-modified-id="MySQL-connection-URL-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>MySQL connection URL</a></span></li><li><span><a href="#Engine-and-Connection" data-toc-modified-id="Engine-and-Connection-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Engine and Connection</a></span></li></ul></li><li><span><a href="#Examples" data-toc-modified-id="Examples-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Examples</a></span></li><li><span><a href="#SQL-to-Pandas" data-toc-modified-id="SQL-to-Pandas-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>SQL to Pandas</a></span></li></ul></div>

In [1]:
# Install libraries
# pip3 install sqlalchemy
# pip3 install pymysql

In [2]:
from sqlalchemy import create_engine
from getpass import getpass

In [3]:
password = getpass("Your password: ")

Your password: ········

## Setting Up

Here you can see each part of the connection URL explained.

But the only parameters you need to change are the username and password (that's why we use getpass) and the host if you are not connected to your local SQL server with default localhost parameters.

### MySQL connection URL
```
<PROTOCOL>://<username>:<password>@<host>[/<database>] 
```
- PROTOCOL: mysql+pymysql
- username
- password
- host: localhost for local connection
- \[OPTIONAL\] /database: If you want to connect to a single database, you can add it to the URL

In [6]:
mysql_url = f"mysql+pymysql://root:{password}@localhost"

### Engine and Connection

With the proper URL, we can connect our python to SQL. 
We create an engine, which holds the information of our server and connect to be able to retrieve and send information.

In [10]:
engine = create_engine(mysql_url) # echo=True
# Optional parameter echo, if set to True will print the log

In [11]:
engine

Engine(mysql+pymysql://root:***@localhost)

In [12]:
conn = engine.connect()

In [13]:
conn

Once connected, we can send queries such as the one below to interact with the SQL sever. Any kind of query will work, SELECT, INSERT, UPDATE, DELETE, etc... Even changing configurations such as creating new users and setting privileges.

In [59]:
res = conn.execute("SHOW DATABASES;")
res

The objects of `ResultProxy` class don't give us any information directly, but are iterators and can be used in for loops, converted to list or have each element at a time with `next()`.

In [15]:
list(conn.execute("SHOW DATABASES;"))

[('car_store',),
 ('cine_database',),
 ('datamad0221',),
 ('gatete_organization',),
 ('gatete_stock',),
 ('gatete_web_store',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('poke_data',),
 ('publications',),
 ('sakila',),
 ('sys',),
 ('test',)]

## Examples

Let's connect again and try to get into some SQL action

In [16]:
queries = [
    "USE sakila;",
    "SELECT * FROM actor;"
]

Since we have to send two statements, we can put them in a list.

In [69]:
for query in queries:
    print(query)
    print("-"*40)
    result = conn.execute(query)

USE sakila;
----------------------------------------
SELECT * FROM actor;
----------------------------------------

In [70]:
# Iterator object
result

In [71]:
next(result)

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [72]:
next(result)

(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [73]:
next(result)

(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [74]:
next(result)

(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [75]:
list(result)[:5]

[(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (7, 'GRACE', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 4, 34, 33))]

In [76]:
for query in queries:
    result = conn.execute(query)

In [77]:
result = list(result)

We want to fix the names of actors, so it is not in all caps. We will use the previous result from **SELECT** query and create new **UPDATE** queries for each value.

In [78]:
for id_, f_name, l_name, date in result:
    print(f_name.title(), l_name.title())
    break

Penelope Guiness

In [79]:
for id_, f_name, l_name, date in result:
    q = f"""
    UPDATE actor
    SET first_name='{f_name.title()}', last_name='{l_name.title()}' 
    """
    print(q)
    break

    UPDATE actor
    SET first_name='Penelope', last_name='Guiness'

Good thing we just print the queries above and not execute them. It is super important never to forget the **WHERE** clause

In [81]:
for id_, f_name, l_name, date in result:
    q = f"""
    UPDATE actor
    SET first_name='{f_name.title()}', last_name='{l_name.title()}'
    WHERE actor_id={id_}
    """
    conn.execute(q)

## SQL to Pandas

Since SQL is built around tables, if we want to treat these data in python, it is only fair that we use python's own table managing library, i.e.: pandas.

As we will begin learning this week, pandas is a **must** for all data analysts.

In [82]:
import pandas as pd

In [85]:
list(conn.execute("SHOW TABLES"))

[('actor',),
 ('actor_info',),
 ('address',),
 ('category',),
 ('city',),
 ('country',),
 ('customer',),
 ('customer_list',),
 ('film',),
 ('film_actor',),
 ('film_category',),
 ('film_desc',),
 ('film_desc_perm',),
 ('film_list',),
 ('film_text',),
 ('inventory',),
 ('language',),
 ('nicer_but_slower_film_list',),
 ('payment',),
 ('rental',),
 ('sales_by_film_category',),
 ('sales_by_store',),
 ('staff',),
 ('staff_list',),
 ('store',)]

In [91]:
q = """
SHOW COLUMNS FROM film
"""
col_names = list(conn.execute(q))
col_names

[('film_id', 'smallint unsigned', 'NO', 'PRI', None, 'auto_increment'),
 ('title', 'varchar(128)', 'NO', 'MUL', None, ''),
 ('description', 'text', 'YES', '', None, ''),
 ('release_year', 'year', 'YES', '', None, ''),
 ('language_id', 'tinyint unsigned', 'NO', 'MUL', None, ''),
 ('original_language_id', 'tinyint unsigned', 'YES', 'MUL', None, ''),
 ('rental_duration', 'tinyint unsigned', 'NO', '', '3', ''),
 ('rental_rate', 'decimal(4,2)', 'NO', '', '4.99', ''),
 ('length', 'smallint unsigned', 'YES', '', None, ''),
 ('replacement_cost', 'decimal(5,2)', 'NO', '', '19.99', ''),
 ('rating', "enum('G','PG','PG-13','R','NC-17')", 'YES', '', 'G', ''),
 ('special_features', "set('Trailers','Commentaries','Deleted Scenes','Behind the Scenes')", 'YES', '', None, ''),
 ('last_update', 'timestamp', 'NO', '', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]

Getting column names

In [93]:
col_names = [col[0] for col in col_names]
col_names

['film_id',
 'title',
 'description',
 'release_year',
 'language_id',
 'original_language_id',
 'rental_duration',
 'rental_rate',
 'length',
 'replacement_cost',
 'rating',
 'special_features',
 'last_update']

In [95]:
result = list(conn.execute("SELECT * FROM film"))
df = pd.DataFrame(result, columns=col_names)
df

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,2,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2021-02-20 13:57:55
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,3,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2021-02-20 13:57:55
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,2,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2021-02-20 13:57:55
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,2,None,6,2.99,130,22.99,G,Deleted Scenes,2021-02-20 13:57:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,None,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2006-02-15 05:03:42
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,None,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2006-02-15 05:03:42
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,None,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-15 05:03:42
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-15 05:03:42
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42

In [96]:
df["rental_rate"].mean()

2.98